
@{
    ViewBag.Title = "KatEkle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div style="margin-top:10px;">
    <h3>Kategori Ekleme Sayfası</h3>
</div>
<form class="form-group" method="post">
    <div style="margin-top:10px;">
        <label>Kategori Ad</label>
        <input type="text" class="form-control" name="Kategoriad" required />
    </div>
    <div style="margin-top:10px;">
        <button class="btn btn-primary">Kategori Ekle</button>
    </div>
</form>

